<% content_for :title, "Editing epoch" %>

<h1>Editing epoch</h1>

<%= render "form", epoch: @epoch %>

<br>

<div>
  <%= link_to "Show this epoch", @epoch %> |
  <%= link_to "Back to epoches", epoches_path %>
</div>
