<div id="<%= dom_id piece %>">
  <p>
    <strong>Title:</strong>
    <%= piece.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= piece.composer_id %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= piece.pic %>
  </p>

</div>
