<% content_for :title, "Editing lefthandtechnique" %>

<h1>Editing lefthandtechnique</h1>

<%= render "form", lefthandtechnique: @lefthandtechnique %>

<br>

<div>
  <%= link_to "Show this lefthandtechnique", @lefthandtechnique %> |
  <%= link_to "Back to lefthandtechniques", lefthandtechniques_path %>
</div>
