<% content_for :title, "New lefthandtechnique" %>

<h1>New lefthandtechnique</h1>

<%= render "form", lefthandtechnique: @lefthandtechnique %>

<br>

<div>
  <%= link_to "Back to lefthandtechniques", lefthandtechniques_path %>
</div>
