<% content_for :title, "Editing bowingtechnique" %>

<h1>Editing bowingtechnique</h1>

<%= render "form", bowingtechnique: @bowingtechnique %>

<br>

<div>
  <%= link_to "Show this bowingtechnique", @bowingtechnique %> |
  <%= link_to "Back to bowingtechniques", bowingtechniques_path %>
</div>
