<% content_for :title, "New bowingtechnique" %>

<h1>New bowingtechnique</h1>

<%= render "form", bowingtechnique: @bowingtechnique %>

<br>

<div>
  <%= link_to "Back to bowingtechniques", bowingtechniques_path %>
</div>
